* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tyv.pc.in -text
/apertium-tyv.post-tyv.dix -text
/apertium-tyv.tyv.lexc -text
/apertium-tyv.tyv.rlx -text
/apertium-tyv.tyv.twol -text
/autogen.sh -text
/configure.ac -text
dev/countstems.sh -text
dev/create-glosser.sh -text
dev/editdist.py -text
dev/spellrelax.twol -text
dev/verbs/Makefile -text
dev/verbs/verbs.lexc -text
eval/Makefile -text
eval/evaluate-morph.py -text
eval/history.log -text
eval/ref.1023.txt -text
eval/ref.1500.txt -text
eval/src.1023.txt -text svneol=unset#application/octet-stream
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/abbreviations.yaml -text
tests/cases.yaml -text
tests/chaa.yaml -text
tests/clitics.yaml -text
tests/clusters.yaml -text
tests/mz.yaml -text
tests/numerals.yaml -text
tests/possessives.yaml -text
tests/run-twol-pairtests.sh -text
tests/st.yaml -text
tests/verbs.yaml -text
texts/aj.tyv.txt -text svneol=unset#application/octet-stream
texts/akustika.tyv.txt -text svneol=unset#application/octet-stream
texts/grammar.tyv.txt -text
texts/kartofel.tyv.txt -text svneol=unset#application/octet-stream
texts/kyzyl.tyv.txt -text svneol=unset#application/octet-stream
texts/makroekonomika.tyv.txt -text svneol=unset#application/octet-stream
texts/meteorit.tyv.txt -text svneol=unset#application/octet-stream
texts/puupankki/puupankki.tyv.conllu -text
texts/puupankki/puupankki.tyv.conllx -text
texts/tagged/grammar.014.i.vislcg.txt -text
texts/tagged/grammar.014.ii.vislcg.txt -text
texts/tagged/grammar.015.i.vislcg.txt -text
texts/tagged/grammar.015.ii.vislcg.txt -text
texts/tagged/grammar.018.i.vislcg.txt -text
texts/tagged/grammar.018.v.vislcg.txt -text
texts/tagged/grammar.019.ii.vislcg.txt -text
texts/tagged/grammar.019.iii.vislcg.txt -text
texts/tagged/grammar.019.v.vislcg.txt -text
texts/tagged/grammar.019.vii.vislcg.txt -text
texts/tagged/grammar.020.i.vislcg.txt -text
texts/tagged/grammar.020.ii.vislcg.txt -text
texts/tagged/grammar.020.iii.vislcg.txt -text
texts/tagged/grammar.022.ix.vislcg.txt -text
texts/tagged/grammar.028.i.vislcg.txt -text
texts/tagged/grammar.061.iii.vislcg.txt -text
texts/tagged/grammar.089.i.vislcg.txt -text
texts/tagged/grammar.089.iv.vislcg.txt -text
texts/tagged/grammar.133.i.vislcg.txt -text
texts/tagged/grammar.138.i.vislcg.txt -text
texts/tagged/grammar.144.i.vislcg.txt -text
texts/tagged/grammar.200.i.vislcg.txt -text
texts/tagged/grammar.204.i.vislcg.txt -text
texts/tagged/grammar.xxx.i.vislcg.txt -text
texts/tyv-feats.tsv -text
texts/udhr.tyv.txt -text svneol=unset#application/octet-stream
texts/venera.tyv.txt -text svneol=unset#application/octet-stream
/tyv.prob -text svneol=unset#unset
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
